body {
    font-family: Arial;
    color: #ffff;
    background: #00002f;
}

#loading {
    width: 20%;
    height: 40%;
    position: relative;
    top: 30%;
    left: 40%;
}
@media(max-width: 367px) {
    body {
        background: white;
    }
    #weather {
        width: 100%;
    }
}
#input-city, #check {
    border: 0;
    border-radius: 5px;
    position: relative;
    top: 10px;
    width: 15%;
    height: 30px;
    font-size: 15px;    
}
#wrapper {
    max-width: 100%;
}
#weather {
    width: 80%;
    height: 450px;
    background: #00A67C;
    position: relative;
    top: 50px;
    left: 10%;
    border-radius: 30px;
}
.temp {
    width: 40%;
    height: 60%;
    /* background: red; */
    position: relative;
    top: 10%;
    left: 0;
}
.temp-feel {
    position: relative;
    top: 15%;
    left: 10%;
    font-size: 30px;
}
.temp-val {
    position: relative;
    top: 5%;
    left: 10%;
    font-size: 60px;
}
.weather-icon {
    width: 30%;
    height: 60%;
    position: relative;
    bottom: 20%;
    left: 5%;
    /* background: blue; */
}
.icon {
    width: 40%;
    height: 40%;
    position: relative;
    left: 15%;
}
.desc {
    font-size: 25px;
}
.city {
    position: relative;
    top: 5%;
    left: 3%;
    font-size: 40px;
    font-weight: bolder;
}